{% extends "studentApp/base.html" %}

{% block title %}
Home
{% endblock title %}

{% block content%}
<div class="container mt-10 w-full ">


    <div class="w-[95vw] lg:w-[80vw]    shadow-lg  mx-auto rounded-lg lg:rouded-xl bg-white p-3 lg:p-4 overflow-y-scroll">
        {% if students %}
        <table class="w-full">
            <tr class="border-b pb-4">
                <th class="text-left p-2" >S.No</th>
                <th class="text-left p-2" >Name</th>
                <th class="text-left p-2" >Course</th>
                <th class="text-left p-2" >Email</th>
                <th class="text-left p-2" >Enrollment Date</th>  
                <th class="text-left p-2" >Actions</th>  
            </tr>
            {% for st in students %}
            <tr class="border-b">
                <td class="text-left p-2" >{{forloop.counter}}</td>
                <td class="text-left p-2" >{{st.first_name}} {{st.last_name}}</td>
                <td class="text-left p-2" >  {{st.course}}</td>
                <td class="text-left p-2" >{{st.email}}</td>
                <td class="text-left p-2" >{{st.enrollment_date}}</td>    
                <td class="flex items-baseline space-x-2">
                    <a href="{% url 'StuApp:Student-Detail' st.id %}" class="view-btn p-1 hover:shadow-xl active:text-gray-800 "><i class="fa-solid fa-eye fa-lg"></i></a>
                    <form action="{% url 'StuApp:Student-Delete' st.id  %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="delete-btn p-1 hover:shadow-xl active:text-gray-800 "><i class="fa-solid fa-trash fa-lg"></i></button>
                    </form>
                    <a href="#" class="edit-btn p-1 hover:shadow-xl active:text-gray-800 "><i class="fa-solid fa-user-pen fa-lg"></i></a>
                </td>
                
            </tr>
            {% endfor %}
        </table> 
        {% else %}
        <div class="w-fit mx-auto ">
            <p class="text-center lg:text-xl text-lg  font-medium ">There is no student !! </p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content%}