{% extends "studentApp/base.html" %}

{% block title %}
Student Detail
{% endblock title %}

{% block content %}
<div class="container">

    <div class="bg-white w-11/12 md:w-3/4 xl:w-2/5 mt-10 mx-auto lg:p-6 p-4 rounded-xl">
        <div class="">
            <ul id="student_details" class="flex flex-col space-y-2 items-start w-full">
                <li class="p-2 border-b border-gray-300"><strong>Entrollment Date : </strong> {{student.enrollment_date }} </li>
                <li class="p-2 border-b border-gray-300"><strong>Course : </strong> {{student.course }} </li>
                <li class="p-2 border-b border-gray-300"><strong>Name : </strong> {{student.first_name }} {{student.last_name}}</li>
                <li class="p-2 border-b border-gray-300"><strong>Date of birth : </strong>{{student.date_of_birth }} </li>
                <li class="p-2 border-b border-gray-300"><strong>Address : </strong>{{student.address }} </li>
                <li class="p-2 border-b border-gray-300"><strong>Phone number : </strong>{{student.phone_number }} </li>
                <li class="p-2 border-b border-gray-300"><strong>Email : </strong>{{student.email }} </li>
                <li class="mt-2"><a href="#" class=" p-2 bg-orange-600 hover:bg-orange-500  text-white text-lg font-semibold rounded-lg">Update Details</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
{% endblock js %}